/wormsRecord.txt
/lastWormsGround.png
*.pyc
/wormsMaps/PerlinMaps
/graph.py
/wormsRecord.xml
/wormsMaps/moreMaps
/anims
/graphObject.py
/levelEditor.py
/recordParser.py
/springsBranch.py
/wormsLauncherOld.py
/wormsWinCounter.py
/assets/weaponsSets
/assets/worms_maps/wormsMaps
